
/*
	INICIO CONFIGURAÇÃO DO MENU
	*/
	.titulo {
		font-size: 60px;
		font-family: 'Baloo Bhaijaan', cursive;
		color: black;
	}
.menu {
	margin-top: -15px;
}
.menu {
	background-color: #D3D3D3;
	padding: 7px;
	height: 130px;
	}
.menu  ul li {
	display: inline;
		}

.menu a {
	color: black;
	padding: 5px;
	text-decoration: none;
	position: relative;
	float: right;
	top: 60px;
	right: 60px;
	margin: 5px;
	}
	.menu a:hover {
		color: white;
		transition: 0.1s;
	}

/* FIM CONFIGURAÇÃO MENU*/

.corpo {
	margin-top: 30px;
	border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    
	height: 500px;
}
.logo {
	position: relative;
	top: 10px;
	padding-right: 1px;
	}
.rodape {

	height: 50px;
	background-color: #D3D3D3;
	clear: both;
}
.rodape p {
	padding-top: 10px;
}